// Place all the styles related to the halls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$kushan: Kaushan Script, cursive;
$griffy: Griffy, cursive;

html, body {
  background: #FBFAF3;
}

h1 {
  font-family: $griffy;
  font-size: 80px;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.menu-color-white {
  background-color: white;
  color: black;
}

.menu-color-white li, .menu-color-white li a {
  color: black !important;
  background-color: white !important;
  with: 100%;
}

.menu-color-white li a:hover {
  color: black !important;
  background-color: white !important;
}
