@font-face {
  font-family: 'Witches';
  src:url('Witches.eot');
  src:url('Witches.eot?#iefix') format('embedded-opentype'),
    url('Witches.svg#icomoon') format('svg'),
    url('Witches.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
