@font-face {
  font-family: 'LumosLatino';
  src:url('LumosLatino.eot');
  src:url('LumosLatino.eot?#iefix') format('embedded-opentype'),
    url('LumosLatino.svg#icomoon') format('svg'),
    url('LumosLatino.woff') format('woff'),
    url('LumosLatino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
